<!DOCTYPE html>
<html ng-app="home">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>goWithEritreans</title>
    <!-- Core CSS - Include with every page -->
     <link href="assets/plugins/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="assets/plugins/pace/pace-theme-big-counter.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="assets/css/main-style.css" rel="stylesheet" />
    <!-- Page-Level CSS -->
    <link href="assets/plugins/morris/morris-0.4.3.min.css" rel="stylesheet" />

    
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style2.css">
    <link rel="stylesheet" href="controller/angularjs-toaster/toaster.min.css" /> -->

   </head>
<body ng-controller="home">
    <!--  wrapper -->
    <div id="wrapper">
        <!-- navbar top -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
            <!-- navbar-header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                   
                </a>
            </div>
            <!-- end navbar-header -->
            <!-- navbar-top-links -->
            <ul class="nav navbar-top-links navbar-right">
                <!-- main dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="top-label label label-danger">4</span><i class="fa fa-envelope fa-3x"></i>
                    </a>
                    <!-- dropdown-messages -->
                     <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong><span class=" label label-danger">gide</span></strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>computer maintained</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong><span class=" label label-info">huruy</span></strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>computer bought</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong><span class=" label label-success">xxx</span></strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div> get repaired</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- end dropdown-messages -->
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="top-label label label-success">4</span>  <i class="fa fa-tasks fa-3x"></i>
                    </a>
                    <!-- dropdown tasks -->
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 1</strong>
                                        <span class="pull-right text-muted">40% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 2</strong>
                                        <span class="pull-right text-muted">20% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 3</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 4</strong>
                                        <span class="pull-right text-muted">80% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- end dropdown-tasks -->
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="top-label label label-warning">5</span>  <i class="fa fa-bell fa-3x"></i>
                    </a>
                    <!-- dropdown alerts-->
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i>New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i>3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i>Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i>New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i>Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- end dropdown-alerts -->
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-3x"></i>
                    </a>
                    <!-- dropdown user-->
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i>User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i>Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
                        </li>
                    </ul>
                    <!-- end dropdown-user -->
                </li>
                <!-- end main dropdown -->
            </ul>
            <!-- end navbar-top-links -->

        </nav>
        <!-- end navbar top -->

        <!-- navbar side -->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <!-- sidebar-collapse -->
            <div class="sidebar-collapse">
                <!-- side-menu -->
                <ul class="nav" id="side-menu">
                    <li>
                        <!-- user image section-->
                        <div class="user-section">
                            <div class="user-section-inner">
                                <img src="{{show_userinfo.data.p_photo}}" alt="">
                            </div>
                            <div class="user-info">id:{{show_userinfo.data.id}}
                                <div>{{show_userinfo.data.name}}</div>
                                <div class="user-text-online">
                                    <span class="user-circle-online btn btn-success btn-circle "></span>&nbsp;Online
                                </div>
                            </div>
                        </div>
                        <!--end user image section-->
                    </li>
                    <li class="sidebar-search">
                        <!-- search section-->
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!--end search section-->
                    </li>
                    <li class="selected">
                        <a href="index.html"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Translation<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="registerForTranslation.html">Register</a>
                            </li>
                            <li>
                                <a href="translatorTransactions.html">Find Translator</a>
                            </li>
                            
                        </ul>
                        <!-- second-level-items -->
                    </li>
                     <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Transportation<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="transportRegistration.html">Register</a>
                            </li>
                            <li>
                                <a href="transportationFind.html">Find Tranport</a>
                            </li>
                            
                        </ul>
                        <!-- second-level-items -->
                    </li>
                    <li>
                        <a href="news.html"><i class="fa fa-flask fa-fw"></i>News</a>
                    </li>
                     <li>
                        <a href="timeline.html"><i class="fa fa-flask fa-fw"></i>Timeline</a>
                    </li>
                    <li>
                        <a href="tables.html"><i class="fa fa-table fa-fw"></i>Tables</a>
                    </li>
                    <li>
                        <a href="thingsToSale.html"><i class="fa fa-edit fa-fw"></i>Things to sale</a>
                    </li>
                    <li>
                        <a href="notifications.html"><i class="fa fa-edit fa-fw"></i>Notifications</a>
                    </li>
                     <li class="selected">
                        <a href="chating.html"><i class="fa fa-edit fa-fw"></i>Chating</a>
                    </li>
                    <li>
                        <a href="tasks.html"><i class="fa fa-edit fa-fw"></i>Tasks</a>
                    </li>
                   
                </ul>
                <!-- end side-menu -->
            </div>
            <!-- end sidebar-collapse -->
        </nav>
        <!-- end navbar side -->
        <!--  page-wrapper -->
        <div id="page-wrapper">
            <div class="row">
                <!-- Page Header -->
                <div class="col-lg-12">
                    <h1 class="page-header">Chating</h1>
                </div>
                <!--End Page Header -->
            </div>
            <div class="row">
      
                        <div class="rows">

                            <div class="col-md-8 msg-wrapper">

                                <!-- 
                                    Showing person's name who is Chatting with the  users Starts
                                -->
                                <div class="msg-wrapper-header">
                                    <div class="chat-user-meta">
                                        <span class="user-name">{{send_to_user_name=='' ? 'Select User to Chat': send_to_user_name}} </span>
                                    </div>
                                </div>
                                <!-- 
                                    Showing person's name who is Chatting with the  users Ends
                                -->
                                
                                <div class="msg-wrapper-body">
                                    <!-- 
                                        Displaying messages to user when users Starts
                                    -->
                                    <div class="msg-container" id="msg-container">
                                        <div class="msg-single" ng-repeat="msg_data in msgs"  
                                            ng-style="{
                                                'float': uid==msg_data.to_id ? 'left' :'right'
                                            }">
                                            <div class="msg-conatiner">
                                                <div class="actual-msg">{{msg_data.msg}}</div>
                                                <span class="msg-meta">{{msg_data.timestamp*1000 | date}}</span>
                                            </div>
                                        </div> 
                                    </div>
                                    <!-- 
                                        Displaying messages to user when users Ends
                                    -->

                                    <!-- 
                                        Message box to send messages Starts
                                    -->
                                    <div class="send-container">
                                        <textarea class="form-control send-msg-text" ng-model='send_text' send-typing-notification placeholder="Type your message here" ></textarea>
                                        <h1 class="send-btn" ng-click="send_msg('','','')"><span class="glyphicon glyphicon-send"></span></h1>
                                    </div>
                                    <!-- 
                                        Message box to send messages Ends
                                    -->             
                                </div>
                            </div>
                            
                            <div class="col-md-4  list-wrapper">

                                <!-- 
                                    Display Chat list for user starts
                                --> 
                                <div class="col-md-12 list-wrapper-header">

                                    <!-- 
                                        Displaying profile Image
                                    --> 
                                    <div class="profile_pic">
                                        <img class="img-circle" ng-src="{{show_userinfo.data.p_photo}}">
                                    </div>
                                    <!-- 
                                        Link for modal and for Logout starts
                                    --> 
                                    <div class="icon-set">
                                        <a Title="Start New chat" ng-click='get_users_to_chats()' data-toggle="modal" data-target="#myModal">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </a>
                                        <a Title="Logout" href="/logout">
                                            <span class="glyphicon glyphicon-off"></span>
                                        </a>
                                    </div>
                                    <!-- 
                                        Link for modal and for Logout ends
                                    --> 

                                    <!-- 
                                        Showing online status
                                    --> 
                                    <div class="user-meta">
                                        <span class="user-name">{{show_userinfo.data.name}}</span>
                                        <span class="user-status">{{show_userinfo.data.online=='Y' ? 'Online': 'Offline' }}</span>
                                    </div>
                                </div>

                                <!-- 
                                    Displaying chat list starts
                                --> 
                                <div class="userlist">

                                    <!-- 
                                        Using ng-repeat to show users starts
                                    --> 
                                    <div class="userlist-single" ng-repeat="singleuser in userlist"
                                        ng-click="hightlight_user(singleuser)"
                                        ng-class="(hightlight_id==singleuser.id ? 'hightlight_user_class' :'')"
                                        ng-style="{
                                            'display': uid==singleuser.id ? 'none' :''
                                        }">
                                        <!-- 
                                            Showing users name, profile Image and online status  
                                        --> 
                                        <div class="userlist-user-meta">
                                            <img class="img-circle" ng-src="{{singleuser.p_photo}}"/>
                                                <span class="online-user-status"
                                                    ng-class="(singleuser.online=='Y' ? 'status-online' :'status-offline')"
                                                ></span>
                                            <span title="{{singleuser.socketId}}" class="userlist-userName">{{singleuser.name}}</span>
                                            <!-- 
                                                Span to show 'Typing indicator'  
                                            --> 
                                            <span id="isTyping_{{singleuser.id}}" class="is-typing">is typing...</span>
                                        </div>                
                                    </div>
                                    <!-- 
                                        Using ng-repeat to show users ends
                                    --> 

                                    <!-- 
                                        Showing alert when no user avalibale for chat
                                    --> 
                                    <div ng-show="userlist.length == 1 && userlist[0].name==show_userinfo.data.name"  >
                                        <div class="alert alert-danger" >
                                          <p class="text-center" >
                                            Everyone is offline.
                                            <br/><br/>
                                            Share this url and Tell your friends to come online.
                                          </p >
                                        </div >
                                    </div>

                                </div>
                                <!-- 
                                    Displaying chat list ends
                                --> 
                            </div>
                        </div>
                
            </div>

                <!-- 
                        HTML element for shwoing toaster notification starts
                    --> 
                    <toaster-container></toaster-container>
                    <!-- 
                        HTML element for shwoing toaster notification ends
                    -->

                    <!-- 
                        Bootstrap modal starts
                    -->
                    <div id="myModal" class="modal fade" role="dialog">
                                <div class="modal-dialog">

                                        <!-- Modal content starts-->
                                        <div class="modal-content">
                                            <!-- Modal header starts-->
                                            <div class="modal-header">
                                                <a type="button" class="close" data-dismiss="modal">&times;</a>
                                                <p class="modal-title">Start new chat</p>
                                            </div>
                                            <!-- Modal header ends-->
                                            <!-- Modal Body starts-->
                                            <div class="modal-body">
                                            
                                                <!-- 
                                                    Displaying start new chat list starts
                                                --> 
                                                <div class="newChat" ng-repeat="singleOfflineUser in RecentUserList" 
                                                    ng-class="(hightlight_id==singleOfflineUser.id ? 'hightlight_user_class' :'')"
                                                    id='modal_user_{{singleOfflineUser.id}}'
                                                    >

                                                    <div class="userlist-user-meta">
                                                        <!-- 
                                                            Displaying User details starts
                                                        -->                     
                                                        <div class="newChat-user-meta">
                                                            <img class="img-circle" ng-src="{{singleOfflineUser.p_photo}}">                    
                                                            <span class="userlist-userName">{{singleOfflineUser.name}}</span>
                                                            <span class="send-msg-offline sendButton{{singleOfflineUser.id}}">
                                                                <span class="glyphicon glyphicon-plus showMSgBox_{{singleOfflineUser.id}}" ng-click="hideShowMsgBox(singleOfflineUser.id,'show',$event)"></span>
                                                                <span class="glyphicon glyphicon-minus hideMsgBox_{{singleOfflineUser.id}} send-msg-hidden" ng-click="hideShowMsgBox(singleOfflineUser.id,'hide',$event)"></span>
                                                            </span>
                                                        </div>
                                                        <!-- 
                                                            Displaying User details ends
                                                        -->                     
                                                        
                                                        <!-- 
                                                            text box to send messages starts 
                                                        --> 
                                                        <div class="send-msg-offline-text send-msg-hidden collapseMsgBox_{{singleOfflineUser.id}}">
                                                            <textarea id="msg_modal_{{singleOfflineUser.id}}" class="form-control" ng-model='send_text' placeholder="Type your message here"></textarea>
                                                            <button class="btn btn-primary newChat-send-mesaage" data-dismiss="modal" ng-click="send_msg('fromModal','',singleOfflineUser.id)">
                                                                send message
                                                            </button>                        
                                                        </div>
                                                        <!-- 
                                                            text box to send messages starts 
                                                        -->                     
                                                    </div>
                                                </div>  
                                                <!-- 
                                                    Displaying start new chat list ends
                                                --> 
                                                                
                                            </div>
                                            <!-- Modal Body ends-->

                                        </div>
                                        <!-- Modal content ends-->
                                </div>
                    </div>
        </div>
        <!-- end page-wrapper -->

    </div>
    <!-- end wrapper -->

    <!-- Core Scripts - Include with every page -->
    <script src="assets/plugins/jquery-1.10.2.js"></script>
    <script src="assets/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="assets/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="assets/plugins/pace/pace.js"></script>
    <script src="assets/scripts/siminta.js"></script>
    <!-- Page-Level Plugin Scripts-->
   
   
    <script src="assets/scripts/dashboard-demo.js"></script>
  <script type="text/javascript" src="/controller/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="/controller/bootstrap.min.js"></script> -->
    <script type="text/javascript" src="/controller/angular.min.js"></script>
    <script type="text/javascript" src="/controller/angular-animate.min.js" ></script>
    <script type="text/javascript" src="/controller/home_script.js"></script> 
    <script type="text/javascript" src="/controller/angularjs-toaster/toaster.min.js"></script> -->
    <script type="text/javascript" src="/socket.io/socket.io.js"></script> -->
     <script src = "controller/script.js"></script>
     
     <script type="text/javascript" src="controller/node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
      <script type="text/javascript" src="controller/node_modules/ng-file-upload/dist/ng-file-upload-shim.min.js"></script>
     
</body>

</html>
